 /*
 Nav bar styles, including logo
 */
 nav {
  display: flex;
  height: 120px;
  color: #ffffff;
  padding: 1.5em;
  font-family: 'Bungee', cursive;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%
 }

 /* Smaller font size for "a new tweet" */
.tweet-logo {
  font-size: 18px
}