/* CSS for new tweets */

/* General CSS */
textarea {
  background-color: #f4f1ec;
  outline: none;
  overflow: hidden;
  resize: none;
  border: none;
  height: 2em;
  width: 100%
}

/* Tweet button */
button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #ffffff;
  border: 0;
  height: 40px;
  width: 100px
}

/* New tweet text */
.new-tweet {
  font-weight: bold
}

/* Character counter CSS*/
.counter {
  margin-top: 1%;
  float: right;
  font-size: x-large;
  font-family: 'Bungee', cursive
}

/* Turn counter red when count is less than 140 characters */
.negChar {
  color: #ff0000
}

/* Tweet form CSS */
#tweet-text {
  border-bottom: 5px solid black;
  justify-content: left
}

/* Styling for errors */
#errors {
  display: flex;
  color: red;
  justify-content: center;
  padding: 20px
}