/* CSS for tweet thread */

/* General CSS */
article.tweet {
  margin-top: 10px;
  padding: 0.5em;
  border: 0.25em solid;
  width: 100%;
  padding-top: 0
}

/* Header CSS */
.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  margin-top: 0;
  height: 120px;
}

/* User name CSS */
article.tweet .user {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  align-items: center;
}

article.tweet .name {
  padding-left: 10px
}

article.tweet .avatar {
  display: flex;
  flex-direction: row;
}

/* Tweet handle CSS, hidden unless hovered */
article.tweet .handle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #c2bfbf;
}

/* CSS for tweet text entered by users */
article.tweet .tweet-text {
  font-size: 2em;
  border-bottom: 5px solid black;
}

/* Footer (time of tweet and social icons) CSS */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Social icons in footer */
article.tweet .social-icons {
  color:  #4056A1;
  font-size: 15px;
  visibility: hidden;
}

/* Settings for mouse hover (shadow box and visible handle */
.tweet:hover {
  box-shadow: 12px 12px 2px 1px rgba(82, 78, 78, 0.2);
}

.tweet:hover .social-icons {
  visibility: visible
}